<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <server>
        <ip>127.0.0.1</ip>
        <port>7000</port>
        <read_timeout>10</read_timeout>
        <write_timeout>10</write_timeout>
    </server>
    <redis>
        <address>:6379</address>
    </redis>
    <postgres>
        <connectionString>postgres://postgres:postgres.123@localhost/netwars?sslmode=disable</connectionString>
    </postgres>
</config>